
:root {
    --primary: #009CFD;
    --secondary: #A665F0;
    --tertiary: #65E6F0;

    --grey-1: #f1f1f1;
    --grey-3: #d4d4d4;
    --grey-5: #b4b4b4;
    --grey-7: #909090;
    --grey-9: #636363;
    --grey-11: #444;


    --font-size: 14px;
    --font-color: #444;
    --font-family: "Gill Sans Extrabold", sans-serif;
}