body,html {
    padding: 0;
    margin: 0;
}
:root {
    --primary: #009CFD;
    --secondary: #A665F0;
    --tertiary: #65E6F0;
    --primary-dark: #007ecb;
    --secondary-dark: #8149c2;
    --tertiary-dark: #5dd1da;

    --success: #007944;
    --success-bg: #00c9a1;
    --warning: #dc5c03;
    --warning-bg: #ffab00;
    --error: #b41b1b;
    --error-bg: #ff5457;

    --grey-0: #fff;
    --grey-1: #f1f1f1;
    --grey-3: #d4d4d4;
    --grey-5: #b4b4b4;
    --grey-7: #909090;
    --grey-9: #636363;
    --grey-11: #444;
    --grey-100: #000;

    --font-size: 14px;
    --font-size-s: 12px;
    --font-size-l: 16px;
    --font-color: var(--grey-9);
    --font-family: "Gill Sans Extrabold", sans-serif;

    --collapse-padding: 16px 16px 32px;


}