body,html {
    padding: 0;
    margin: 0;
}

body {
    min-width: 760px;
    min-height: 580px;
}

:root {
    --primary: #009CFD;
    --secondary: #A665F0;
    --tertiary: #65E6F0;
    --primary-dark: #007ecb;
    --secondary-dark: #8149c2;
    --tertiary-dark: #5dd1da;
    --primary-bright: #2bb6ff;
    --secondary-bright: #b37cf1;
    --tertiary-bright: #77e3ec;
    --primary-inverse: #deebff;
    --secondary-inverse: #e9daff;
    --tertiary-inverse: #d9f3f8;

    --success: #007944;
    --success-dark: #006038;
    --success-bright: #00c9a1;
    --warning: #dc5c03;
    --warning-dark: #a64700;
    --warning-bright: #ffba9c;
    --error: #b41b1b;
    --error-dark: #8a1414;
    --error-bright: #ff5457;

    --grey-0: #fff;
    --grey-1: #f1f1f1;
    --grey-3: #d4d4d4;
    --grey-5: #b4b4b4;
    --grey-7: #909090;
    --grey-9: #636363;
    --grey-11: #444;
    --grey-100: #000;

    --font-size: 14px;
    --font-size-s: 10px;
    --font-size-l: 16px;
    --font-color: var(--grey-9);
    --font-color-iverse: var(--grey-1);
    --font-family: "Gill Sans Extrabold", sans-serif;

    --main-bg: #fff;

    --border-radius: 8px;
    --collapse-padding: 16px 16px 32px;
    --box-shadow: 0 2px 6px rgba(0,0,0,0.18), 0 2px 6px rgba(0,0,0,0.24);
}

[data-theme="dark"] {
    --primary: #0072a3;
    --secondary: #7441a8;
    --tertiary: #468a92;
    --primary-dark: #1585bd; /* Etwas heller als primary */
    --secondary-dark: #8653ba;
    --tertiary-dark: #569ea5;
    --primary-bright: #00628c; /* Etwas dunkler als primary */
    --secondary-bright: #623890;
    --tertiary-bright: #3b747b;
    --primary-inverse: #1a2e3d; /* Sehr dunkel für den Dark Mode */
    --secondary-inverse: #2b1a3d;
    --tertiary-inverse: #1d3033;

    --success: #008f5d;
    --success-dark: #006845;
    --success-bright: #00b487;
    --warning: #c35602;
    --warning-dark: #923f00;
    --warning-bright: #e07b35;
    --error: #ab2121;
    --error-dark: #7c1717;
    --error-bright: #c74242;

    --grey-0: #1e1e1e;
    --grey-1: #282828;
    --grey-3: #3a3a3a;
    --grey-5: #4d4d4d;
    --grey-7: #666;
    --grey-9: #888;
    --grey-11: #aaa;
    --grey-100: #e0e0e0;

    --font-size: 14px;
    --font-size-s: 10px;
    --font-size-l: 16px;
    --font-color: var(--grey-11);
    --font-color-iverse: var(--grey-1);
    --font-family: "Gill Sans Extrabold", sans-serif;

    --main-bg: #282828;

    --border-radius: 8px;
    --collapse-padding: 16px 16px 32px;
    --box-shadow: 0 2px 6px rgba(0,0,0,0.42), 0 2px 6px rgba(0,0,0,0.68);
}

html, body {
    background: var(--main-bg);
}