---
---

@import "{{ site.theme }}";

nav.main {
  h3 {
    margin-bottom: 4px;
  }

  ul {
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: 16px;
  }
}

h1 {
  text-align: center;
}

.chrome-logo {
  box-sizing: border-box;
  padding: 22px;
  border-radius: 32px;
  background-color: #646464;
  width: 172px;
  margin: 0 auto 20px;
}